.sidebar-main {
    display: flex;
    height: 100vh;
    background-color: black;
    align-items: center;
    justify-content: space-evenly;
    width: 7%;
    flex-direction: column;
    .sidebar-button-main {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    p {
        transform: rotate(270deg);
        font-size: 12px;
        white-space: nowrap;
        color: white;
    }
}