#root {
    height: 100%;
}


* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: "roboto",sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
}

main {
    display: flex;
}

.home {
    height: 100%;
}



@media (max-width: 1150px) {
    main {
        height: unset;
    }
    
}